@page
@model MyApp.Namespace.CitasAgendadasModel
@{
}
@using Consultorio.App.Dominio
<h1>Citas Agendadas</h1>
<a class="btn btn.primary table-btn" asp-page="../Cita/AgendarCita">AgendarCita</a>
<!--<ul class="list-group">
       <li class="list-group-item">Cliente<select asp-for="Documento" asp-items="Model.cliente" name="testSelect"></select> <a class="btn btn-primary" asp-page="./CitasAgendadas" asp-route-Documento="@Model.Documento">Listar</a></li>
       <li class="list-group-item">Medico<select asp-for="Documento" asp-items="Model.medico" name="testSelect"></select> <a class="btn btn-primary" asp-page="./CitasAgendadas" asp-route-Documento="@Model.Documento">Listar</a></li>
      <li class="list-group-item">Horario<select asp-for="ID" asp-items="Model.horario" name="testSelect"></select> <a class="btn btn-primary" asp-page="./CitasAgendadas" asp-route-Documento="@Model.Documento">Listar</a></li>
      <li class="list-group-item">Auxiliar<select asp-for="Documento" asp-items="Model.auxiliar" name="testSelect"></select> <a class="btn btn-primary" asp-page="./CitasAgendadas" asp-route-Documento="@Model.Documento">Listar</a></li>
</ul> --> 
       <a class="btn btn-primary table-btn" asp-page="../Cita/AgendarCita" asp-route-documento="@Model.citas">Detalle</a> 
       <a class="btn btn-primary table-btn" asp-page="../Cita/EditarCita" asp-route-documento="@Model.citas">Editar</a> 
       <a class="btn btn-primary table-btn" asp-page="../Cita/EliminarCita" asp-route-documento="@Model.citas">Eliminar</a> 

   

