@page
@model MyApp.Namespace.CitasAgendadasModel
@{
}
@using Consultorio.App.Dominio
<h1>Citas Agendadas</h1>
<a class="btn btn-primary table-btn" asp-page="../Cita/AgendarCita">AgendarCita</a>

<table class="table table-bordered table-striped">
    <tr>
        <th>Cliente</th>
        <th>Medico</th>
        <th>Auxiliar</th>
        <th>Dia</th>
        <th>Hora</th>
        <th></th>
    </tr>
    @foreach(var cita in @Model.citas){
        <tr>
            <td>@cita.cliente.NombreCompleto</td>
            <td>@cita.medico.NombreCompleto</td>
            <td>@cita.auxiliar.NombreCompleto</td>
            <td>Dia</td>
            <td>Hora</td>
            <td>
                     <a class="btn btn-primary table-btn" asp-page="../Cita/AgendarCita" asp-route-documento="@Model.citas">Detalle</a> 
                     <a class="btn btn-primary table-btn" asp-page="../Cita/EditarCita" asp-route-documento="@Model.citas">Editar</a> 
                     <a class="btn btn-primary table-btn" asp-page="../Cita/EliminarCita" asp-route-documento="@Model.citas">Eliminar</a> 
            </td>
        </tr>
    }
</table>

       


   

