@page
@model MyApp.Namespace.ClienteModel
@{
}
@using Consultorio.App.Dominio;
<h1>Listar Clientes</h1>
<a class="btn btn-primary table-btn" asp-page="../Cliente/CrearCliente">Agregar Cliente</a> 
<table class=" table table-info table-bordered table-striped" >
<tr>
    <th scope="col">Documento</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">FechaNacimiento</th>
    <th scope="col">Ciudad</th>
    <th scope="col">Direccion</th>
    <th scope="col">Telefono</th>
    <th scope="col">Genero</th>
    <th scope="col">Acciones</th>
</tr>
@foreach(var cliente in Model.clientes){
<tr>
    <td>@cliente.Documento</td>
    <td>@cliente.Nombre</td>
    <td>@cliente.Apellido</td>
    <td>@cliente.FechaNacimiento</td>
    <td>@cliente.Ciudad</td>
    <td>@cliente.Correo</td>
    <td>@cliente.Direccion</td>
    <td>@cliente.Telefono</td>
    <td>@cliente.Genero</td>
    <td><a class="btn btn-primary table-btn" asp-page="../Cliente/DetalleCliente" asp-route-documento="@cliente.Documento">Detalle</a> </td>
    <td><a class="btn btn-primary table-btn" asp-page="../Cliente/EditarCliente" asp-route-documento="@cliente.Documento">Editar</a> </td>
    <td><a class="btn btn-primary table-btn" asp-page="../Cliente/EliminarCliente" asp-route-documento="@cliente.Documento">Eliminar</a> </td>
</tr>
}    
</table>