@page
@model MyApp.Namespace.DetalleClienteModel
@{
}
<h1>Detalle Cliente</h1>

<ul>
    <li>Documento: @Model.cliente.Documento</li>
    <li>Nombre: @Model.cliente.Nombre</li>
    <li>Apellido: @Model.cliente.Apellido</li>
    <li>Fecha de naciemineto: @Model.cliente.FechaNacimiento</li>
    <li>Ciudad: @Model.cliente.Ciudad</li>
    <li>Correo Electronico:@Model.cliente.Correo</li>
    <li>Direccion: @Model.cliente.Direccion</li>
    <li>Telefono: @Model.cliente.Telefono</li>
    <li>Genero: @Model.cliente.Genero</li>
</ul>
    