@page
@model MyApp.Namespace.DetalleMedicoModel
@{
}
<h1>Detalle Médico</h1>

<ul>
    <li>Documento: @Model.medico.Documento</li>
    <li>Nombre: @Model.medico.Nombre</li>
    <li>Apellido: @Model.medico.Apellido</li>
    <li>Teléfono: @Model.medico.Telefono</li>
    <li>Género: @Model.medico.Genero</li>
    <li>Especialidad:@Model.medico.Especialidad</li>
    <li>Código: @Model.medico.Codigo</li>
    <li>Registro Rethus: @Model.medico.RegistroRethus</li>
    @* <li>Horario: @Model.medico.Horario</li> *@
</ul>
@* <table>
    <td><a class="btn btn-primary table-btn" asp-page="../Medico/EditarMedico" asp-route-documento="@Model.medico.Documento">Editar</a></td>
    <td><a class="btn btn-primary table-btn" asp-page="../Medico/Medico">Cancelar</a> </td>
</table> *@
